<!DOCTYPE html>
<html>
<head>
  <title>Itsy Bitsy</title>
  <%= stylesheet_link_tag "application", :media => "all" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Open+Sans:300italic,400,800" , :media => "all" %>
  <%= stylesheet_link_tag "http://fonts.googleapis.com/css?family=Old+Standard+TT:700" , :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="page-wrap">
    <a href="https://github.com/DanielleSucher/ItsyBitsy"><img style="position: absolute; top: 0; left: 0; border: 0;" src="https://s3.amazonaws.com/github/ribbons/forkme_left_red_aa0000.png" alt="Fork me on GitHub"></a>
    <%= render 'layouts/nav' %>
    <%= render 'layouts/title' %>
    <div id="main-content">
      <%= yield %>
    </div>
  </div>
  <footer class="site-footer">
    <span id="footer-text">
      (brought to you by <%= link_to "@DanielleSucher", "http://twitter.com/daniellesucher.com" %>)
    </span>
  </footer>
</body>
</html>