<!DOCTYPE html>
<html>
<head>
  <title>Fitbit Goal Incrementer</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render 'layouts/nav' %>
  <div id="main-content" style="clear:both;margin:auto;padding-left:200px;padding-right:200px;padding-top:20px;font-size:24px;">
    <%= yield %>
  </div>
</body>
</html>
